table {
    border-collapse: collapse;
    width: 50%; /* Cambiar el ancho de la tabla según sea necesario */
   
}

th, td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd; /* Línea entre filas */
}

th {
    background-color: #f2f2f2; /* Color de fondo del encabezado */
}

img {
    width: 350px;
    height: auto;
}